<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Editing Player - baseball</title>
<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>

<link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" ></link>
<link rel="stylesheet" href="/css/edituser.css"  th:href="@{/css/edituser.css}" />
<link rel="stylesheet" href="/css/boxmaru.css"  th:href="@{/css/boxmaru.css}" />

  </head>
  <body class="bodyclass">
	<div class="boxmaru">
	<span class="box-title">アカウント編集</span>
    <form th:action="@{/users}" th:method="put" th:object="${user}">
    	<div class="form-group">
      		<label class="control-label">名前</label>
        	<input class="form-control" type="text" th:field="*{name}" />
        </div>
        <div class="form-group">
        	<label class="control-label">パスワード</label>
        	<input class="form-control" type="text" th:field="*{password}" />
        </div>
        <div class="form-group">
        	<label class="control-label">画像</label>
        	<input class="form-control" type="text" th:field="*{url}" />
        </div>
        <div class="form-group">
        	<label class="control-label">勝ち</label>
        	<p th:number="*{win}" />
        </div>
        <div class="form-group">
        	<label class="control-label">負け</label>
        	<p th:number="*{lose}" />
        </div>
        <div class="buttons">
        	<button class="btn btn-default" type="submit">更新</button>
        	<a class="btn btn-default" th:href="@{/}"  href="/">戻る</a>
        </div>
	</form>
	</div>
  </body>
</html>