<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8"/>
<title>User</title>
<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
</head>
<body>
 <h1>User</h1>
  <table  class="table table-hover table-striped">
    <tr>
     <th>name</th>
     <th>win</th>
     <th>lose</th>
    </tr>
    <tr th:each="user : ${users}" th:object="${user}">
      <td th:text="${user.name}">name</td>
      <td th:text="${user.win}">name</td>
      <td th:text="${user.lose}">name</td>
    </tr>
 </table>
  <a class="btn btn-default" href="/">home</a>
</body>
</html>
