<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>ユーザ一覧</title>
<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<link rel="stylesheet" href="/css/show.css" th:href="@{/css/show.css}" />
<link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"></link>
<link rel="stylesheet" href="/css/boxmaru.css" th:href="@{/css/boxmaru.css}" />
</head>
<body class="bodyclass">
	<div class="boxmaru">
		<span class="box-title">ユーザ一覧</span>
		<table class="sortable" id="foo">
			<tr>
				<th>名前</th>
				<th>勝ち</th>
				<th>負け</th>
			</tr>
			<tr th:each="user : ${users}" th:object="${user}">
				<td>
					<img th:src="${user.url}" width="80"/> <br/>
					<span th:text="${user.name}"></span>
				</td>

				<td th:text="${user.win}">name</td>
				<td th:text="${user.lose}">name</td>
			</tr>
		</table>
		<div class="buttons">
			<a class="btn btn-default" href="/">戻る</a>
		</div>
	</div>
</body>
</html>
