<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>アカウント登録</title>
<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
<link rel="stylesheet" href="/css/boxmaru.css"  th:href="@{/css/boxmaru.css}" />
<link rel="stylesheet" href="/css/edituser.css"  th:href="@{/css/edituser.css}" />
  </head>
  <body class="bodyclass">

    <div class="boxmaru">
      <span class="box-title">アカウント登録</span>
      <form th:action="@{/users}" th:method="post">
        <div class="form-group">
          <label class="control-label">名前</label>
          <input class="form-control" type="text" name="name" />
        </div>
        <div class="form-group">
          <label class="control-label">パスワード</label>
          <input class="form-control" type="text" name="password" />
        </div>
        <div class="form-group">
          <label class="control-label">画像</label>
          <input class="form-control" type="text" name="url" />
        </div>
        <button class="btn btn-default" type="submit">作成</button>
        <a class="btn btn-default" th:href="@{/}" href="/">戻る</a>
      </form>
    </div>
  </body>
</html>