<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>アカウント</title>
<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<link rel="stylesheet" href="/css/show.css" th:href="@{/css/show.css}" />
<link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"></link>
<link rel="stylesheet" href="/css/boxmaru.css"  th:href="@{/css/boxmaru.css}" />

</head>
<body class="bodyclass">
	<div class="boxmaru">
		<span class="box-title">アカウント</span>
		<table>
			<thead>
				<tr>
					<th>項目名</th>
					<th>設定値</th>
				</tr>
			</thead>
			<tbody th:object="${user}">

				<tr>
					<td>名前</td>
					<td th:text="${user.name}"></td>
				</tr>
				<tr>
					<td>画像</td>
					<td><img th:src="${user.url}" width="100" /></td>
				</tr>
				<tr>
					<td>勝ち</td>
					<td th:text="${user.win}"></td>
				</tr>
				<tr>
					<td>負け</td>
					<td th:text="${user.lose}"></td>
				</tr>
			</tbody>
		</table>
		<div class="buttons">
			<a class="btn btn-default" th:href="@{/users/edit}"	href="/users/edit">編集</a>
			<a class="btn btn-default" th:href="@{/}" href="/">戻る</a>
		</div>
	</div>
</body>
</html>