<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8" />
    <title>Show Player - baseball</title>
<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<link href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet"></link>
  </head>
  <body>
    <div class="container">
      <h1>Show</h1>
      <div th:object="${user}">
        <div>
          <label>名前</label>
          <p th:text="*{name}"></p>
        </div>
        <div>
          <label>パスワード</label>
          <p th:text="*{password}"></p>
        </div>
      <div>
        <a class="btn btn-default" th:href="@{/users/{name}/edit(name=*{name})}">編集</a>
      </div>
      <div class="pull-right">
        <a class="btn btn-link" href="/users">一覧画面へ</a>
      </div>
    </div>
  </body>
</html>