.boxmaru {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #62c1ce;
}
.boxmaru .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #62c1ce;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}
.boxmaru p {
    margin: 0;
    padding: 0;
}

.boxmarub {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #000000;
    background: #FFFFFF;
}
.boxmarub .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #000000;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.boxmaruy {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #D7DF01;
    background: #fffde8;
}
.boxmaruy .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #D7DF01;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}

.boxmarur {
    position: relative;
    margin: 2em 0;
    padding: 0.5em 1em;
    border: solid 3px #DF0101;
    background: #ffad90;
    left:8px;
    height:750px;
}
.boxmarur .box-title {
    position: absolute;
    display: inline-block;
    top: -27px;
    left: -3px;
    padding: 0 9px;
    height: 25px;
    line-height: 25px;
    vertical-align: middle;
    font-size: 17px;
    background: #DF0101;
    color: #ffffff;
    font-weight: bold;
    border-radius: 5px 5px 0 0;
}