<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>まるぺけサイト</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="/css/hmenu.css" th:href="@{/css/hmenu.css}" />
<link rel="stylesheet" href="/css/profile.css" th:href="@{/css/profile.css}" />
<link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" />
<link rel="stylesheet" href="/css/boxmaru.css" th:href="@{/css/boxmaru.css}" />
<link rel="stylesheet" href="/css/jquery-ui.css" th:href="@{/css/jquery-ui.css}">
<script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
<script src="/js/jquery-ui.min.js" th:src="@{/js/jquery-ui.min.js}"></script>
<script src="/js/home.js" th:src="@{/js/home.js}"></script>

</head>
<body>
	<h1 class="headcolor">ようこそ<span id='loginuser'>[[${#httpServletRequest.remoteUser}]]</span>さん</h1>

	<div id="wrapper">

		<header id="header" class="clearfix">
			<!-- 			<h1 class="logo"></h1> -->
			<div class="right">
				<p class="open">
					<i class="fa fa-bars"></i>
				</p>
			</div>
		</header>
	</div>

	<input type="checkbox" class="check" id="checked">
	<label class="menu-btn" for="checked"> <span class="bar top"></span>
		<span class="bar middle"></span> <span class="bar bottom"></span> <span
		class="menu-btn__text">MENU</span>
	</label>
	<label class="close-menu" for="checked"></label>
	<nav class="drawer-menu">
		<ul>
			<li><a href="/users/show">アカウント</a></li>
			<li><a href="/logout">ログアウト</a></li>
			<li><a href="/users">ユーザ一覧</a></li>
			<li><a href="/records">対戦一覧</a></li>
		</ul>
	</nav>
	<div class="contents">
		<div class="span1">
			<div class="boxmarub">
			<div id="show_dialog" title="title" style="display:none;">
			<p>message area</p>
			</div>
				<span class="box-title">まるぺけ対戦</span>
				<div class="span3" style="background: #fff; height: 300px;">

					<div style="float: left;">
					<div id="grid_1" class="marupeke"></div>
					<div id="grid_2" class="marupeke"></div>
					<div id="grid_3" class="marupeke"></div>
					<div id="grid_4" class="marupeke"></div>
					<div id="grid_5" class="marupeke"></div>
					<div id="grid_6" class="marupeke"></div>
					<div id="grid_7" class="marupeke"></div>
					<div id="grid_8" class="marupeke"></div>
					<div id="grid_9" class="marupeke"></div>

					<p id="turnstatus" class="marupekestatus"></p>
					</div>
					<div style="float: left; margin-left : 20px ;">
					 <p id="message-area"></p>
					</div>

				</div>
			</div>
			<div class="boxmaruy">
				<span class="box-title">チャット</span>
				<div class="span4" style="background: #fffde8;">
					<div class="form-horizontal">
						<label for="roomName" class="col-sm-2-control-label">ルーム</label> <input
							id="roomName" type="text" class="form-control" value="example"
							style="width: 126px;" />
						<button id="connectButton" type="button" class="btn btn-default">接続</button>
						<button id="disconnectButton" class="btn btn-default"
							disabled="disabled">切断</button>
					</div>
					<div class="form-horizontal">
						<label for="message" class="col-sm-2-control-label">メッセージ</label>
						<input id="message" type="text" class="form-control"
							maxlength='30' style="width: 376px;" />
						<button id="sendButton" type="button" class="btn btn-default">書き込み</button>
					</div>
					<div class="row">
						<div class="col-sm-4 col-sm-offset-2"
							style="width: 610px; margin-left: 0px;">
							<ul id="messageList" class="list-unstyled">
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="boxmarur">
		<span class="box-title">対戦相手一覧</span>
		<div class="span2" style="margin-left:8px; margin-top:20px; background:#ffad90">


			<!--
            <div id="UserTable"></div>
			 -->
			 <table class="table table-bordered table-hover table-striped" id="UserTable">
			  <thead>
			   <tr>
			    <th>ユーザ名</th>
			    <th>ログイン日時</th>
			    <th>ステータス</th>
			   </tr>
			  <thead>
			  <tbody id="userlist">
			  </tbody>
			 </table>

		  </div>
		</div>
	</div>
	<script>
  </script>
</body>


</html>
