<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Spring Security Example </title>
        <script src="/js/jquery.min.js" th:src="@{/js/jquery.min.js}"></script>
        <link rel="stylesheet" href="/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}"></link>
        <link rel="stylesheet" href="/css/bootstrap-theme.min.css" th:href="@{/css/bootstrap-theme.min.css}"/>
        <link rel="stylesheet" href="/css/login.css" th:href="@{/css/login.css}"/>
    </head>
    <body>

        <div th:if="${param.error}">
            Invalid username and password.
        </div>
        <div th:if="${param.logout}">
            You have been logged out.
        </div>

        <div class = "container">
			<div class="wrapper">
				<form action="#" th:action="@{/login}" method="post">
				    <h3 class="form-signin-heading">Please Sign In</h3>
					  <hr class="colorgraph"><br>

					  <input type="text" class="form-control" name="username" placeholder="username" required="" autofocus="" />
					  <input type="password" class="form-control" name="password" placeholder="password" required=""/>

					  <button class="btn btn-lg btn-primary btn-block"  name="submit" value="ログイン" type="submit">ログイン</button>
				</form>
			</div>
		</div>
    </body>
</html>